<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Help | Static Page  Sample App</title>
  </head>
  <body>
      <h1>help</h1>
      <br>
      <p>It is Static Help Page</p>
  </body>
</html>
