<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home | Static Page Sample App</title>
  </head>
  <body>
      <h1>home</h1>
      <br/>
      <br/>
      <p>It is Static Home page</p>
  </body>
</html>
