<h1>Password Reset</h1>
<p>To Reset Password Please Click On the Below Given Link</p>
<%= link_to "Reset Password" ,edit_password_reset_url(@user.reset_token,email:@user.email) %>
<h4>Above Link Will be Expire in 2 Houre</h4>
